<table class="table h5">
  <% if end_user.nick_name != "guestuser" %>
    <tbody>
      <tr>
        <td>
          <%= image_tag end_user.get_profile_image, size:'150x150' %><br>
          <strong><%= end_user.nick_name %></strong>
          <% if current_end_user.nick_name != "guestuser" %>
            <% if @end_user == current_end_user %>
              <%= link_to '編集', edit_end_user_path(@end_user), class: 'btn btn-success m-1' %>
              <%= link_to '日誌', diaries_path, class: 'btn btn-info m-1' %>
            <% else %>
              <% if current_end_user.following?(end_user) %>
                <%= link_to "フォロー外す", end_user_relationships_path(end_user.id), method: :delete, class: "btn btn-info" %>
              <% else %>
                <%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class: "btn btn-success" %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to end_user_followings_path(end_user) do %>
            フォロー数：<%= end_user.followings.count %>
          <% end %><br>
          <%= link_to end_user_followers_path(end_user) do %>
            フォロワー数：<%= end_user.followers.count %>
          <% end %><br>
          <%= "#{end_user.date_of_birth.strftime('%Y年%m月%d日')} (#{(Date.current.strftime('%Y%m%d').to_i - end_user.date_of_birth.strftime('%Y%m%d').to_i) / 10000})" %><br>
          性別：<%= end_user.gender_i18n %>
        </td>
      </tr>
      <tr>
        <td>
          <% if end_user.introduction.present? %>
            <%= end_user.introduction %>
          <% else %>
            自己紹介文がありません。<br>
            編集画面から入力できます。
          <% end %>
        </td>
      </tr>
    <% else %>
      <tr>
        <td>
          <%= image_tag end_user.get_profile_image, size:'150x150' %><br>
          <strong><%= end_user.nick_name %></strong>
        </td>
      </tr>
      <tr>
        <td>
          xx年xx月xx日(xx)<br>
          性別：未登録
        </td>
      </tr>
      <tr>
        <td>新規登録するとここに自己紹介文が書き込めます。</td>
      </tr>
    <% end %>
  </tbody>
</table>