<div class="container p-5">
  <div class="row">
    <div class="col-12 text-center pb-4">
      <h1><strong>会員一覧</strong></h1>
    </div>
    <div class="col">
      <table class="table border border-dark">
        <thead class="bg-dark text-light">
          <th>会員氏名</th>
          <th>自己紹介文</th>
          <th colspan="3"></th>
        </thead>
        <tbody>
          <% @end_users.each do |end_user| %>
            <% if end_user.nick_name != "guestuser" %>
              <tr>
                <td class="border-dark" width="200">
                  <%= link_to(end_user) do %>
                    <%= image_tag end_user.get_profile_image, size:'50x50' %>
                    <%= end_user.nick_name %>
                  <% end %>
                </td>
                <td class="border-dark"><%= end_user.introduction %></td>
                <td class="border-dark text-center" width="150">
                  <% if end_user.is_deleted %>
                    <p class="text-danger">退会済み</p>
                  <% end %>
                </td>
                <td class="border-dark" width="150">
                  <% unless end_user.id == current_end_user.id %>
                    <% if current_end_user.following?(end_user) %>
                      <%= link_to "フォロー外す", end_user_relationships_path(end_user.id), method: :delete, class: "btn btn-info" %>
                    <% else %>
                      <%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class: "btn btn-success" %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @end_users %>
    </div>
  </div>
</div>