<div class="container p-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_end_user.nick_name %>さんのプロフィール</h1>
      <%= link_to '退会はこちら', withdraw_confirm_path, class: 'btn btn-danger' %>
      <%= link_to '編集', edit_end_user_path(current_end_user), class: 'btn btn-success' %>
      <%= link_to '日誌', diaries_path, class: 'btn btn-info' %>
    </div>
    <div class="col">
      <%= current_end_user.email %><br>
      <%= current_end_user.nick_name %><br>
      <%= current_end_user.gender %><br>
      <%= current_end_user.date_of_birth %>
    </div>
  </div>
</div>
