<div class="text-center p-2">
  <h3 class="text-light" style="background-color: #3cb371; border-radius: 5px;"><%= flash[:notice] %></h3>
  <h3 class="text-light" style="background-color: #dc143c; border-radius: 5px;"><%= flash[:alert] %></h3>
</div>
<div class="container p-5">
  <div class="row">
    <div class="col-2">
      <%= link_to end_users_path, class: 'btn btn-success' do %>
        <i class="fa-solid fa-arrow-left"></i> 会員一覧
      <% end %>
    </div>
    <div class="col-10">
      <h1><strong><%= @end_user.nick_name %>さんのマイページ</strong></h1>
    </div>
    <div class="col-4 pt-4">
      <h3>会員情報</h3>
      <%= render 'info', end_user: @end_user %>
    </div>
    <div class="col-8">
      <% if @end_user.nick_name != "guestuser" %>
        <h3 class="pt-4">
          <%= @end_user.nick_name %>さんの投稿一覧
          <% if current_end_user.nick_name != "guestuser" %>
            <% if @end_user == current_end_user %>
              <%= link_to favorites_end_user_path(@end_user), class: 'btn btn-outline-dark m-1' do %>
                <i class="fa-solid fa-heart" style="color: #ff1f4b;"></i> いいねした投稿
              <% end %>
            <% end %>
          <% end %>
        </h3>
        <table class="table border">
          <thead style="background-color: #fffacd;">
            <th>タイトル</th>
            <th>内容</th>
            <th colspan="3"></th>
          </thead>
          <tbody style="background-color: #ffffff;">
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                <td><%= post.body.truncate(24, omission: '...') %></td>
                <td>
                  <% if current_end_user.nick_name != "guestuser" %>
                    <% if @end_user == current_end_user %>
                      <%= link_to post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger", remote: true do %>
                        <i class="fa-solid fa-trash-can"></i> 削除
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h3 class="pt-4">
          guestuserさんの投稿一覧
        </h3>
        <table class="table border">
          <thead style="background-color: #fffacd;">
            <th>タイトル</th>
            <th>内容</th>
          </thead>
          <tbody style="background-color: #ffffff;">
              <tr>
                <td>ここにタイトルが入ります</td>
                <td>ここに内容が入ります</td>
              </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>