<tbody>
  <tr>
    <td class="border-dark">
      <%= link_to(post.end_user) do %>
        <%= image_tag post.end_user.get_profile_image, size:'40x40' %><br>
        <%= post.end_user.nick_name %>
      <% end %>
    </td class="border-dark">
    <td class="border-dark"><%= link_to post.title, post_path(post.id) %></td>
    <td class="border-dark"><%= post.body.truncate(24, omission: '...') %></td>
    <td class="border-dark"><i class="fa-solid fa-heart" style="color: #ff1f4b;"></i> <%= post.favorites.count %></td>
  </tr>
</tbody>