<div class="container p-5">
  <div class="row">
    <div class="col-12 text-danger">
      <h5><%= flash[:alert] %></h5>
    </div>
    <div class="col-12 text-success">
      <h5><%= flash[:notice] %></h5>
    </div>
    <div class="col-12 text-center">
      <%= render 'public/searches/search', range: @range %>
      <h1 class="pt-4"><strong>投稿一覧</strong></h1>
    </div>
    <div class="col-12 text-right">
      <% if current_end_user.nick_name != "guestuser" %>
        <%= link_to '新規投稿', new_post_path, class:'btn btn-primary mb-2' %>
      <% end %>
    </div>
  </div>
  <table class='table border border-dark'>
    <thead class="bg-dark text-light">
      <tr>
        <th>タイトル</th>
        <th>本文</th>
        <th>投稿者</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="border-dark"><%= link_to post.title, post_path(post.id) %></td>
          <td class="border-dark"><%= post.body.truncate(24, omission: '...') %></td>
          <td class="border-dark"><%= post.end_user.nick_name %></td>
          <td class="border-dark"<%= "favorite-#{post.id}" %> >
           <%= render "public/favorites/favorite-btn", post: post %>
          </td>
          <td class="border-dark">
            <% if post.end_user == current_end_user %>
              <%= link_to post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger", remote: true do %>
                <i class="fa-solid fa-trash-can"></i> 削除
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @posts %>
</div>