<div class="text-center p-2">
  <h3 class="text-light" style="background-color: #3cb371; border-radius: 5px;"><%= flash[:notice] %></h3>
  <h3 class="text-light" style="background-color: #dc143c; border-radius: 5px;"><%= flash[:alert] %></h3>
</div>
<div class="container pb-5">
  <div class="row">
    <div class="col-12 text-center">
      <%= render 'public/searches/search', range: @range %>
      <h1 class="pt-4"><strong>投稿一覧</strong></h1>
    </div>
    <div class="col-12 text-right">
      <% if current_end_user.nick_name != "guestuser" %>
        <%= link_to '新規投稿', new_post_path, class:'btn btn-primary mb-2' %>
      <% end %>
    </div>

    <% @posts.each do |post| %>
      <div class="col-lg-3 border border-dark bg-light text-center p-4 m-4" style="border-radius: 10px;">
        <h4><%= link_to post.title, post_path(post.id) %></h4>
        <h5><%= post.body.truncate(10, omission: '...') %></h5>
        <h5><%= post.end_user.nick_name %> さん</h5>
        <h5 class="border-dark"<%= "favorite-#{post.id}" %> >
         <%= render "public/favorites/favorite-btn", post: post %>
        </h5>
        <h5>
          <% if post.end_user == current_end_user %>
            <%= link_to post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger", remote: true do %>
              <i class="fa-solid fa-trash-can"></i> 削除
            <% end %>
          <% end %>
        </h5>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>
