<%= notice %>
<div class="container p-5">
  <div class="row text-center">
    <div class="col-12">
      <h1><strong>投稿詳細画面</strong></h1>
    </div>
    <div class="col-12 pt-4">
      <h3><%= @post.title %></h3><br>
      <p><%= @post.body %></p>
      <div class="post-comments-index">
       <%= render "public/post_comments/index", post: @post %>
      </div>
      <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>