<div class="container p-5">
  <div class="row">
    <div class="col-12 text-danger">
      <h5><%= flash[:alert] %></h5>
    </div>
    <div class="col-12 text-success">
      <h5><%= flash[:notice] %></h5>
    </div>
    <div class="col-12 text-center">
      <h1 class="pb-4"><strong>投稿詳細画面</strong></h1>
    </div>
    <div class="col-5 text-center p-4">
      <h3>タイトル</h3>
      <h3 class="border border-dark bg-light p-3"><%= @post.title %></h3><br>
      <h3>本文</h3>
      <h4 class="border border-dark bg-light p-3"><%= @post.body %></h4>
      <h5 class="pt-2"><%= render "public/post_comments/form", post: @post, post_comment: @post_comment %></h5>
    </div>
    <div class="col-7">
      <div class="post-comments-index">
       <%= render "public/post_comments/index", post: @post %>
      </div>
    </div>

  </div>
</div>