<div class="text-center p-2">
  <h3 class="text-light" style="background-color: #3cb371; border-radius: 5px;"><%= flash[:notice] %></h3>
  <h3 class="text-light" style="background-color: #dc143c; border-radius: 5px;"><%= flash[:alert] %></h3>
</div>
<div class="container p-5">
  <div class="row">
    <div class="col">
      <%= link_to posts_path, class: 'btn btn-success' do %>
        <i class="fa-solid fa-arrow-left"></i> 前のページに戻る
      <% end %>
    </div>
    <div class="col-12 text-center pb-4 h1">
      <strong><%= @post.title %></strong>
    </div>
    <div class="col-5 text-center p-2">
      <h3>本文</h3>
      <h4 class="border border-dark bg-light p-3"><%= @post.body %></h4>
      <h5 class="pt-2"><%= render "public/post_comments/form", post: @post, post_comment: @post_comment %></h5>
    </div>
    <div class="col-7">
      <table class="table m-5">
        <tbody style="background-color: #ffffff;">
          <% @post_comments.each do |post_comment| %>
            <tr>
              <td>
                <h5>
                  <%= link_to(post_comment.end_user) do %>
                    <%= image_tag post_comment.end_user.get_profile_image, size:'40x40' %>
                    <%= post_comment.end_user.nick_name %>
                  <% end %><br>
                  <%= post_comment.body %><br>
                </h5>
                <%= post_comment.created_at.strftime('%Y-%m-%d %X') %>
              </td>
              <td width='100'>
                <% if post_comment.end_user == current_end_user %>
                  <%= link_to post_post_comment_path(@post,post_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger", remote: true do %>
                    <i class="fa-solid fa-trash-can"></i> 削除
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>