<h5 class="bg-danger text-center p-3 m-4" style="color: #fff700; border-radius: 10px;">
  <i class="fa-solid fa-triangle-exclamation" style="color: #fff700;"></i>注意！具合が悪くなったり、痛みがある時は運動を中止しましょう。無理なく運動を継続させましょう！
</h5>
<div class="container pt-2 pb-5">
  <div class="row">
    <div class="col-12 text-success">
      <h5><%= flash[:notice] %></h5>
    </div>
    <div class="btn-wrapper col-8 mx-auto text-center">
      <% if end_user_signed_in? %>
        <h5><strong>キーワード検索</strong></h5><%= render 'public/searches/search', range: @range %>
        <h1 class="p-4"><strong>ようこそ、運動日誌へ！！</strong></h1>
        <h5>
          運動の継続を目指し、日々の運動を記録していきましょう！<br>
          また、投稿機能を使って発言したり、チャット機能を使って<br>
          他のユーザーとの交流もしてみましょう！
        </h5>
        <%= image_tag 'memo.jpg', size: '450x300' %><br>
        <%= image_tag 'arrow.png', size: '250x300' %>
        <h5>日々の運動を記録することで運動意欲を向上させましょう！</h5>
        <%= image_tag 'walking.jpg', size: '450x300' %>
      <% else %>
          <h1><strong>60代向けSNS 運動日誌</strong></h1>
          <p>
            運動不足になりがちな退職後の60代に向けての運動記録サイトです。<br>
            また、同じ様に運動をしているユーザ同士が投稿機能を使って交流できるのが特徴です。<br>
            60代でSNSに慣れていない方でも使いやすい設計です。
          </p>
          <div class="m-4">
            <%= image_tag 'running.jpg', size: '450x300' %>
          </div>
          <%= link_to 'ゲストログイン(閲覧用)', end_users_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
          <%= link_to 'Log in',new_end_user_session_path, class: "btn btn-outline-info btn-sm btn-block mb-3 sign_in" %>
          <%= link_to 'Sign Up',new_end_user_registration_path, class: "btn btn-outline-success btn-sm btn-block sign_up" %>
      <% end %>
    </div>
  </div>
</div>