<div class="text-center p-2">
  <h3 class="text-light" style="background-color: #3cb371; border-radius: 5px;"><%= flash[:notice] %></h3>
  <h3 class="text-light" style="background-color: #dc143c; border-radius: 5px;"><%= flash[:alert] %></h3>
</div>

<h5 class="bg-danger text-center p-3 m-4" style="color: #fff700; border-radius: 10px;">
  <i class="fa-solid fa-triangle-exclamation" style="color: #fff700;"></i> 注意！具合が悪くなったり、痛みがある時は運動を中止しましょう。無理なく運動を継続させましょう！
</h5>

<div class="container pb-5" style="background-color: #f0fff0; border-radius: 10px;">
    <div class="row">
    <div class="col-12 mx-auto text-center">
      <h1 class="pt-5">
        <strong>
          ようこそ My Diary へ
          <i class="fa-solid fa-book-open"></i>
        </strong>
      </h1>
      <h5 class="p-4" style="line-height:2.5rem;">
        このサイトは、退職後の運動不足になりがちな方々に向けての運動記録サイトです。<br>
        また、同じ様に運動をしている方々が投稿機能を使って交流できるのが特徴です。<br>
        SNSに慣れていない方でも使いやすい設計です。
      </h5>
    </div>

    <div class="col-lg-12 text-center pt-5">
      <h2>My Diaryの機能</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 text-center p-5">
      <h2 class="text-success">
        ①記録 <%= image_tag 'diary.png', size: '70x70', class: 'p-2' %>
      </h2>
      <h5 style="line-height:2.5rem;">
        日々の運動と身体の調子を日誌に記録して管理しよう！
      </h5>
    </div>
    <div class="top-image col-lg-5 p-5">
      <%= image_tag 'memo.jpg', size: '300x200', class: 'rounded-circle' %>
    </div>
  </div>

  <div class="row">
    <div class="top-image col-lg-5 p-5">
      <%= image_tag 'walking.jpg', size: '300x200', class: 'rounded-circle' %>
    </div>
    <div class="col-lg-7 text-center p-5">
      <h2 class="text-primary">
        ②投稿 <%= image_tag 'post.png', size: '70x60', class: 'p-2' %>
      </h2>
      <h5 style="line-height:2.5rem;">
        取り組んだ運動や出来事を投稿して他の人と共有しよう！
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 text-center p-5">
      <h2 class="text-danger">
        ③チャット <%= image_tag 'chat.png', size: '80x80', class: 'p-2' %>
      </h2>
      <h5 style="line-height:2.5rem;">
        相互フォローをして他の人とチャットで交流しよう！
      </h5>
    </div>
    <div class="top-image col-lg-5 p-5">
      <%= image_tag 'talking.jpg', size: '300x200', class: 'rounded-circle' %>
    </div>
  </div>
</div>

<div class="p-4"></div>