<div class="container p-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1>チャットルーム一覧</h1>
    </div>
    <div class="col-12 text-right">
      <%= link_to 'チャットルーム作成', new_chat_room_path, class: 'btn btn-primary mb-2' %>
    </div>
    <div class="col-12 mx-auto">
      <table class='table border border-dark'>
        <thead class="bg-dark text-light">
          <tr>
            <th>タイトル</th>
            <th>内容</th>
            <th>オーナー</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% @chat_rooms.each do |chat_room| %>
            <tr>
              <td class="border-dark">
                <%= link_to(chat_room) do %>
                  <%= chat_room.title %>
                <% end %>
              </td>
              <td class="border-dark"><%= chat_room.introduction %></td>
              <td class="border-dark"><%= chat_room.end_user.nick_name %></td>
              <td class="border-dark">
                  <%= link_to 'Destroy', chat_room_path(chat_room), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger", remote: true %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>