<div class="container p-5">
  <div class="row">
    <div class="col-12">
      <%= link_to chat_rooms_path, class: 'btn btn-secondary' do %>
        <i class="fa-solid fa-arrow-left"></i> 前のページに戻る
      <% end %>
    </div>
    <div class="col-8 mx-auto">
      <h1 class="text-center">チャットルーム新規作成画面</h1>
    </div>
    <div class="col-6 mx-auto">
      <%= form_with model: @chat_room, url: chat_rooms_path do |f| %>
        <div class="form-group">
          <%= f.label :'タイトル' %><br>
          <%= f.text_field :title, style: "width:100%", placeholder: " 2〜15字で入力してください" %>
        </div>
        <div class="form-group">
          <%= f.label :'チャットルーム説明' %><br>
          <%= f.text_area :introduction, style: "width:100%", placeholder: " 200字以内で入力してください" %>
        </div>
        <div class="form-group">
          <%= f.submit '作成する', class: 'btn btn-lg btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>