<%= link_to chat_rooms_path, class: 'btn btn-outline-success mt-2 ml-4' do %>
  <i class="fa-solid fa-arrow-left"></i> 前のページに戻る
<% end %>
<div class="container pb-5">
  <div class="row">
    <div class="col text-success">
      <h5><%= flash[:notice] %></h5>
    </div>
    <div class="col text-danger">
      <h5><%= flash[:alert] %></h5>
    </div>
    <div class="col-12 text-center">
      <h1 class="pb-4"><strong><%= @chat_room.title %></strong></h1>
    </div>
    <div class="col-5 text-center p-2">
      <h3>チャットルーム説明</h3>
      <h4 class="border border-dark bg-light p-3"><%= @chat_room.introduction %></h4>
      <h5 class="pt-2"><%= render 'public/chat_messages/form', chat_room: @chat_room, chat_message: @chat_message %></h5>
    </div>
    <div class="col-7">
      <table class="table m-5">
        <tbody style="background-color: #ffffff;">
          <% @chat_messages.each do |chat_message| %>
            <tr>
              <td>
                <%= link_to(chat_message.end_user) do %>
                  <%= image_tag chat_message.end_user.get_profile_image, size:'40x40' %><br>
                  <%= chat_message.end_user.nick_name %>
                <% end %>
              </td>
              <td width="500">
                <%= chat_message.created_at %><br>
                <%= chat_message.body %>
              </td>
              <td width="100">
                <% if chat_message.end_user == current_end_user %>
                  <%= link_to chat_room_chat_message_path(@chat_room, chat_message), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger", remote: true do %>
                    <i class="fa-solid fa-trash-can"></i> 削除
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>