<div class="text-center p-2">
  <h3 class="text-light" style="background-color: #3cb371; border-radius: 5px;"><%= flash[:notice] %></h3>
  <h3 class="text-light" style="background-color: #dc143c; border-radius: 5px;"><%= flash[:alert] %></h3>
</div>
<div class="container p-2">
  <div class="row">
    <div class="col">
      <%= link_to chat_rooms_path, class: 'btn btn-secondary' do %>
        <i class="fa-solid fa-arrow-left"></i> 前のページに戻る
      <% end %>
    </div>
    <div class="col-lg-12 text-center h1 pb-4">
      <strong><%= @chat_room.title %></strong>
    </div>
    <div class="col-lg-5 text-center p-2">
      <h3>チャットルーム説明</h3>
      <h4 class="border border-dark bg-light p-3" style="border-radius: 10px;"><%= @chat_room.introduction %></h4>
      <h5 class="pt-2"><%= render 'public/chat_messages/form', chat_room: @chat_room, chat_message: @chat_message %></h5>
    </div>

    <div class="col-lg-7 mx-auto">
      <table class="table m-5" style="table-layout: fixed; width: 100%; word-wrap:break-word;">
        <tbody style="background-color: #ffffff;">
          <% @chat_messages.each do |chat_message| %>
            <tr>
              <td>
                <h5>
                  <%= link_to(chat_message.end_user) do %>
                    <%= image_tag chat_message.end_user.get_profile_image, size:'40x40' %>
                    <%= chat_message.end_user.nick_name %>
                  <% end %><br>
                  <%= chat_message.body %><br>
                </h5>
                <%= chat_message.created_at.strftime('%Y-%m-%d %X') %>
              </td>
              <td width="100px">
                <% if chat_message.end_user == current_end_user %>
                  <%= link_to chat_room_chat_message_path(@chat_room, chat_message), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger" do %>
                    <i class="fa-solid fa-trash-can"></i> 削除
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>