<%= alert %>
<%= notice %>
<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @chat_room.title %></h1>
    </div>
    <div class="col">
      <% @chat_messages.each do |chat_message| %>
        <%= chat_message.end_user.nick_name %>
        <%= chat_message.body %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @chat_message do |f| %>
        <%= f.hidden_field :chat_room_id, value: @chat_room.id %>
        <%= f.text_area :body,size: '50x5' %><br>
        <%= f.submit '送信', class: 'btn btn-sm btn-primary' %>
      <% end %>
    </div>
  </div>
</div>