<div class="container p-5">
  <div class="row p-5" style="background-color: #f0fff0; border-radius: 10px;">
    <div class="col-lg-8 mx-auto">
      <h1 class="text-center pb-4">
        <strong>新規会員登録</strong>
      </h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages" %>

        <div class="responsive">
          <div class="text-danger h5">*は必須項目</div>
          <table class="table h5">
            <tr>
              <td>◾️ ニックネーム <span class="text-danger">*</span></td>
              <td>
                <div class="field">
                  <%= f.text_field :nick_name, autofocus: true, :placeholder => "2~15文字で入力してください", autocomplete: "nick_name", class: 'form-control' %>
                </div>
              </td>
            </tr>
            <tr>
              <td>◾ メールアドレス(非公開) <span class="text-danger">*</span></td>
              <td>
                <div class="field">
                  <%= f.email_field :email, :placeholder => "mydiary@example.com", autocomplete: "email", class: 'form-control' %>
                </div>
              </td>
            </tr>
            <tr>
              <td>◾ 性別</td>
              <td>
                <div class="field">
                  <%= f.radio_button :gender, EndUser.genders.key(0) %>
                  <%= f.label :gender, EndUser.genders_i18n[:gender_private], value: EndUser.genders.key(0) %>
  
                  <%= f.radio_button :gender, EndUser.genders.key(1) %>
                  <%= f.label :gender, EndUser.genders_i18n[:male], value: EndUser.genders.key(1) %>
  
                  <%= f.radio_button :gender, EndUser.genders.key(2) %>
                  <%= f.label :gender, EndUser.genders_i18n[:female], value: EndUser.genders.key(1) %>
  
                  <%= f.radio_button :gender, EndUser.genders.key(3) %>
                  <%= f.label :gender, EndUser.genders_i18n[:others], value: EndUser.genders.key(1) %>
                </div>
              </td>
            </tr>
            <tr>
              <td>◾ 生年月日 <span class="text-danger">*</span></td>
              <td>
                <div class="field">
                  <%= f.date_select :date_of_birth, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 55), default: Date.new(1960, 1, 1) %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                ◾ パスワード
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %>文字以上)</em>
                <% end %>
                <span class="text-danger">*</span>
              </td>
              <td>
                <div class="field">
                  <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
                </div>
              </td>
            </tr>
            <tr>
              <td>◾ パスワード(確認用) <span class="text-danger">*</span></td>
              <td>
                <div class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="actions text-center pb-4">
          <%= f.submit "登録する", class: 'btn btn-lg btn-primary m-2' %>
        </div>
      <% end %>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>