<table class="table border border-dark">
  <thead class="bg-dark text-light">
    <th>アイコン</th>
    <th>ニックネーム</th>
    <th>性別</th>
    <th>生年月日(年齢)</th>
    <th>自己紹介</th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td class="border-dark" width="100">
        <%= image_tag end_user.get_profile_image, size:'50x50' %>
      </td>
      <td class="border-dark" width="150">
        <strong><%= end_user.nick_name %></strong><br>
        <%= end_user.email %>
      </td>

      <td class="border-dark" width="80"><%= end_user.gender_i18n %></td>
      <td class="border-dark" width="200">
        <div class='row'>
          <%= "#{end_user.date_of_birth.strftime('%Y年%m月%d日')} (#{(Date.current.strftime('%Y%m%d').to_i - end_user.date_of_birth.strftime('%Y%m%d').to_i) / 10000})" %>
        </div>
      </td>
      <td class="border-dark" width="600"><%= end_user.introduction %></td>
      <td class="border-dark" width="80">
        <% if @end_user.is_deleted %>
          退会
        <% else %>
          有効
        <% end %>
      </td>
    </tr>
  </tbody>
</table>