<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1><%= @chat_room.title %></h1>
    </div>
    <div class="col">
      <% @chat_messages.each do |chat_message| %>
        <%= chat_message.body %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @chat_message_new, local: true do |f| %>
        <p>
          <%= f.label :body %><br>
          <%= f.text_area :body, size: '50x5' %>
        </p>
        <p>
          <%= f.submit '投稿する', class: 'btn btn-sm btn-primary' %>
        </p>
      <% end %>
    </div>
  </div>
</div>