<div class="container p-5">
  <div class="row">
    <div class="col">
      <%= link_to diary_path(@diary), class: 'btn btn-secondary' do %>
        <i class="fa-solid fa-arrow-left"></i> 前のページに戻る
      <% end %>
    </div>
    <div class="col-12 text-center h1">
      <strong>日誌編集</strong>
    </div>
    <div class="col h4">
      <div class="form-group">
      <%= form_with model: @diary, local:true do |f| %>

        <div class="form-group">
          <%= f.label :'日付' %><br>
          <%= f.date_field :date %>
        </div>

        <div class="form-group">
          <%= f.label :'血圧' %><br>
          <%= f.text_field :dbp, size: '5' %> / <%= f.text_field :sbp, size: '5' %> mmHg
        </div>

        <div class="form-group">
          <%= f.label :'体温' %><br>
          <%= f.text_field :bt, size: '5' %> ℃
        </div>

        <div class="form-group">
          <%= f.label :'体重' %><br>
          <%= f.text_field :weight, size: '5' %> kg
        </div>

        <div class="form-group">
          <%= f.label :'運動記録' %><br>
          <%= f.text_area :exercise, size: '50x5' %>
        </div>

          <%= f.submit "変更を保存", class: 'btn btn-lg btn-success' %>
      <% end %>
      </div>
    </div>
  </div>
</div>