<%= stylesheet_link_tag 'header' %>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-body border-bottom border-dark">
    <div class="container">
      <a class="navbar-brand text-dark m-2" href="/">
        <h1>運動日誌</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if end_user_signed_in? %>
          <li>
            <%= link_to 'チャットルーム', chat_rooms_path, class:'nav-link text-light btn btn-dark ml-5' %>
          </li>
          <li>
            <%= link_to '投稿一覧', posts_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
          <li>
            <%= link_to '日誌', end_user_path(current_end_user), class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'About', homes_about_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
          <li>
            <%=  link_to '投稿一覧', posts_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
          <li>
            <%=  link_to '新規登録', new_end_user_registration_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
          <li>
            <%= link_to 'ログイン', new_end_user_session_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>